<%= link_to 'Back', doctors_path %>
<p><%= @user.email %></p>
<h1>Hello <%= "#{@user.first_name} #{@user.last_name}" %></h1>
<p></p>
<% @appointments.each do |appointment| %>
    <p>
        <%= appointment.doctor.category.name %> | 
        <%= appointment.doctor.first_name %>
        <%= appointment.doctor.last_name %>
        <%= appointment.date.strftime("%a %b %d %Y") %>
        <% if !appointment.open %>
            | <%= link_to "Read recommendation", recommendation_path(appointment.recommendation) %> 
        <% end %>
    </p>
<% end %>