<h1>Doctors#index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>
<hr>

<%= form_tag doctors_path, method: :get do %>
  <%= select_tag :query, 
    options_from_collection_for_select(@categories, "id", "name") %>
  <%= submit_tag "Search" %>
<% end %>


<% @doctors.each do |doctor| %>
    <p><%= doctor.category.name %> 
        | <%= doctor.first_name %> <%= doctor.last_name %>
        | <%= link_to 'Create appointment', new_user_appointment_path( current_user, doctor_id: doctor ) %>
    </p>
<% end %>
<hr>
