<h1>Doctors#show</h1>
<p>
    Hello, 
    <%= @doctor.first_name %>
    <%= @doctor.last_name %>
    <%= @doctor.category.name %>
</p>
<p>
    <%= @doctor.email %>
</p>
<h1>Upcoming appointments:</h1>
<% @future_appointments.each do |appointment| %>
    <p>
        <%= appointment.user.first_name %> 
        <%= appointment.user.last_name %>
        | 
        <%= appointment.date.strftime("%a %b %d %Y") %>

    </p>
<% end %>
<hr>
<h1>Past appointments:</h1>
<% @past_appointments.each do |appointment| %>
    <p>
        <%= appointment.user.first_name %> 
        <%= appointment.user.last_name %>
        | 
        <%= appointment.date.strftime("%a %b %d %Y") %>
        | 
        <% if appointment.recommendation.present? %>
            <%= link_to "Read the recommendation", appointment.recommendation %>
        <% else %>    
            <%= link_to "Write a recommendation", new_doctor_appointment_recommendation_path(@doctor, appointment) %>
        <% end %>
    </p>
<% end %>